langchain
ipykernel
python-dotenv
langchain_community
arxiv
wikipedia
langchain-text-splitters
requests
langchain
langchain-core
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
validators
youtube_transcript_api
unstructured
beautifulsoup4
